<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Permisos -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Para Android 12 y anteriores -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <!-- Para Android 13+ (API 33+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArmarioCamara"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">

        <!-- SPLASH SCREEN -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".ArmarioActivity" android:exported="false" />
        <activity android:name=".GuardarPrendaActivity" android:exported="false" />
        <activity android:name=".EditarPrendaActivity" android:exported="false" />
        <activity android:name=".EstadisticasActivity" android:exported="false" />
        <activity android:name=".MisLooksActivity" android:exported="false" />
        <activity android:name=".CalendarioActivity" android:exported="false" />
        <activity android:name=".ViajesPlannerActivity" android:exported="false" />
        <activity android:name=".FormularioIAActivity" android:exported="false" />
        <activity android:name=".PersonalizadorOutfitActivity" android:exported="false" />
        <activity android:name=".VisualizadorOutfitActivity" android:exported="false" />

        <!-- FILE PROVIDER -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.armariocamara.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>